body {
  margin: 0;
  padding: 0 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5ff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

label {
  font-size: 0.8em;
}

.section-title {
  font-size: 1em;
  color: #13204c;
  line-height: 30px;
  background-color: white;
  border: 1px solid #dfe1f6;
  border-radius: 4px;
  padding: 50px;
  text-align: center;
  font-weight: normal;
}

.round-button {
  color: white;
  box-shadow: 0 9px 12px -1px #e3e3fb;
  background: #717af1;
  padding: 16px;
  width: 130px;
  border: none;
  border-radius: 50px;
  margin: 50px 0;
}

.round-button:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  .section-title {
    font-size: 1.5em;
  }
  label {
    font-size: 1.2em;
  }
}

*::selection {
  color: #fff;
  background-color: #9da3fb;
}
